@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Controls</h2>

<br />
<br />

<div class="panel panel-default">
    <div class="panel-header bg-lightBlue fg-white">
        Form
    </div>
<div class="panel-body">

    <a href="~/Grid" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.rexperienz.com/wp-content/uploads/2013/06/tech.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    This shows a demo of a grid
                </span>
            </div>
        </div>
    </a>


    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>

    <a href="~/Controls/Tiles" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://innowrx.com/wp-content/uploads/2012/09/windows-phone-8-20-accent-colors-tiles-choices.png">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Controls/Carousel" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://wcdn3.dataknet.com/static/common/img/set4/jquery-carousel-45_4FA8EA41.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>
    <a href="~/Form" style="display:block;">
        <div class="tile double">
            <div class="tile-content image">
                <img src="http://www.favouritehobbies.com/wp-content/uploads/2012/11/form-filling-300x200.jpg">
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    View a demo of a Form here
                </span>
            </div>
        </div>
    </a>

    

</div>
</div>
