
@{
    ViewBag.Title = "Tiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tiles</h2>

<div class="tile bg-cyan">
    <div class="brand">
        <div class="badge">99</div>
    </div>
</div>

<div class="tile bg-darkPink">
    <div class="tile-status">
        This is the Title
    </div>

    <div class="tile-content icon">
        <i class="icon-cart-2"></i>
    </div>
    <div class="tile-status">
        <span class="name">Store</span>
        <div class="badge bg-red">99</div>
    </div>
</div>

<div class="tile half bg-cyan">
    <div class="tile-content icon">
        <i class="icon-rocket"></i>
    </div>
</div>

<div class="tile double-vertical bg-red">
    <div class="tile-content icon">
        <i class="icon-rocket"></i>
    </div>
</div>

<div class="tile bg-green">
    <div class="tile-content icon">
        <img src="http://metroui.org.ua/images/excel2013icon.png">
    </div>
</div>


<div class="tile half"></div>
<div class="tile half"></div>
<div class="tile"></div>
<div class="tile double"></div>
<div class="tile triple"></div>
<div class="tile quadro"></div>